<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img2/grabredlords/pai/10e.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,328},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/10o.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,260},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/11e.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,387},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/11o.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,446},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/2e.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,319},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/2o.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,260},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/3e.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,201},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/3o.png</key>
			<dict>
				<key>frame</key>
				<string>{{534,87},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/4e.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,378},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/4o.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,437},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/5e.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,319},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/5o.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,260},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/6e.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,146},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/6o.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,87},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/7e.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,1},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/7o.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,378},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/8e.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,437},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/8o.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,319},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/9e.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,205},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/9o.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,146},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/ae.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,60},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/ao.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,1},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/b.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,44},{41,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,49}</string>
			</dict>
			<key>img2/grabredlords/pai/d.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,44},{41,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,49}</string>
			</dict>
			<key>img2/grabredlords/pai/db.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{170,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,235}</string>
			</dict>
			<key>img2/grabredlords/pai/dw.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,112},{95,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,103}</string>
			</dict>
			<key>img2/grabredlords/pai/dz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,238},{170,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,235}</string>
			</dict>
			<key>img2/grabredlords/pai/dzb.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,260},{54,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{54,66}</string>
			</dict>
			<key>img2/grabredlords/pai/e.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,44},{41,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,112}</string>
			</dict>
			<key>img2/grabredlords/pai/fj.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,263},{103,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,109}</string>
			</dict>
			<key>img2/grabredlords/pai/ht.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,374},{103,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,109}</string>
			</dict>
			<key>img2/grabredlords/pai/je.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,217},{41,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,200}</string>
			</dict>
			<key>img2/grabredlords/pai/jo.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,1},{41,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,200}</string>
			</dict>
			<key>img2/grabredlords/pai/ke.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,378},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/ko.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,437},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/mh.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,263},{103,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,109}</string>
			</dict>
			<key>img2/grabredlords/pai/o.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,87},{41,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,112}</string>
			</dict>
			<key>img2/grabredlords/pai/ot.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,374},{103,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,109}</string>
			</dict>
			<key>img2/grabredlords/pai/ps.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,475},{29,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,39}</string>
			</dict>
			<key>img2/grabredlords/pai/qe.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,264},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/qo.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,205},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/xw.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,112},{95,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,103}</string>
			</dict>
			<key>img2/grabredlords/pai/laizi/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,119},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/laizi/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,60},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/laizi/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,1},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/laizi/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,323},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/laizi/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,382},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/laizi/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,441},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/laizi/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,264},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/laizi/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,178},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/laizi/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,119},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/laizi/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,60},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/laizi/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,1},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/laizi/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,323},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/laizi/xx.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,1},{103,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,109}</string>
			</dict>
			<key>img2/grabredlords/pai/laizi/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,382},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>
			<key>img2/grabredlords/pai/gp1.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,1},{122,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,129}</string>
			</dict>
			<key>img2/grabredlords/pai/gp2.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,132},{122,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,129}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>pai.png</string>
			<key>realTextureFileName</key>
			<string>pai.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>